@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Default Color =========== */

  --bg-color: 20 20 20;
  --font-color: 82 82 82;
  --hl-color: 178 177 185;
  --fg-color: 58 163 193;
  --font-family: 'Poppins';

  /* #endregion  /**======== Default Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .default {
    --bg-color: 20 20 20;
    --font-color: 82 82 82;
    --hl-color: 178 177 185;
    --fg-color: 58 163 193;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold text-hl md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold text-hl md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold text-hl md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold text-hl md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold text-hl md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm text-hl md:text-base;
  }

  p,
  span {
    @apply font-primary text-hl;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
    --toastify-color-success: rgb(var(--fg-color));
    --toastify-color-error: rgb(var(--bg-color));
    --toastify-color-progress-success: rgb(var(--bg-color));
    --toastify-icon-color-success: rgb(var(--bg-color));
    --toastify-color-progress-error: rgb(var(--bg-color));
    --toastify-icon-color-error: rgb(var(--bg-color));
  }

  .caret {
    transition: left 0.1s ease;
    position: absolute;
    display: inline;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

  /* total width */
  .scrollbar::-webkit-scrollbar {
    /*  Uncomment the following code to hide scrollbar, while still being able to scroll */
    /* display: none; */
    width: 16px;
    @apply bg-transparent;
  }

  /* background of the scrollbar except button or resizer */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar::-webkit-scrollbar-track:hover {
    @apply bg-transparent;
  }

  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(var(--fg-color));
    border-radius: 16px;
    border: 5px solid rgb(var(--bg-color));
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--fg-color) / 0.8);
  }

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, rgb(var(--hl-color)), rgb(var(--font-color)));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .loading {
    display: inline-block;
    clip-path: inset(0 0.9ch 0 0);
    animation: l 1s steps(4) infinite;
  }

  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0);
    }
  }
}
