.space {
  --bg-color: 0 0 0;
  --font-color: 89 82 96;
  --hl-color: 178 177 185;
  --fg-color: 240 165 0;
}

.winter {
  --bg-color: 21 114 161;
  --font-color: 196 221 255;
  --hl-color: 184 255 249;
  --fg-color: 239 255 253;
}

.snowy-night {
  --bg-color: 44 51 51;
  --font-color: 57 91 100;
  --hl-color: 165 201 202;
  --fg-color: 231 246 242;
}

.vintage {
  --bg-color: 84 186 185;
  --font-color: 24 151 143;
  --hl-color: 233 218 193;
  --fg-color: 247 236 222;
}

.vampire {
  --bg-color: 23 23 23;
  --font-color: 68 68 68;
  --hl-color: 218 0 55;
  --fg-color: 237 237 237;
}

.taro {
  --bg-color: 137 138 166;
  --font-color: 201 187 207;
  --hl-color: 214 239 237;
  --fg-color: 183 211 223;
}

.green-tea {
  --bg-color: 85 124 85;
  --font-color: 227 243 172;
  --hl-color: 242 255 233;
  --fg-color: 166 207 152;
}

.wood {
  --bg-color: 44 54 57;
  --font-color: 160 147 125;
  --hl-color: 162 123 92;
  --fg-color: 208 201 192;
}

.beach {
  --bg-color: 0 120 170;
  --font-color: 242 223 58;
  --hl-color: 246 246 246;
  --fg-color: 58 180 242;
}

.halloween {
  --bg-color: 6 17 60;
  --font-color: 255 140 50;
  --hl-color: 221 221 221;
  --fg-color: 238 238 238;
}

.spring {
  --bg-color: 101 193 140;
  --font-color: 249 255 164;
  --hl-color: 221 255 188;
  --fg-color: 255 220 174;
}

.eye-pain {
  --bg-color: 34 0 255;
  --font-color: 163 255 0;
  --hl-color: 255 0 0;
  --fg-color: 255 0 231;
}

.inter {
  --font-family: 'Inter';
}

.poppins {
  --font-family: 'Poppins';
}

.chakra-petch {
  --font-family: 'Chakra Petch';
}
