.winter {
  --bg-color: 21 114 161;
  --font-color: 196 221 255;
  --hl-color: 184 255 249;
  --fg-color: 239 255 253;
}

.taro {
  --bg-color: 137 138 166;
  --font-color: 201 187 207;
  --hl-color: 183 211 223;
  --fg-color: 214 239 237;
}

.green-tea {
  --bg-color: 85 124 85;
  --font-color: 227 243 172;
  --hl-color: 242 255 233;
  --fg-color: 166 207 152;
}

.wood {
  --bg-color: 44 54 57;
  --font-color: 160 147 125;
  --hl-color: 162 123 92;
  --fg-color: 208 201 192;
}

.eye-pain {
  --bg-color: 34 0 255;
  --font-color: 163 255 0;
  --hl-color: 255 0 0;
  --fg-color: 255 0 231;
}

.inter {
  --font-family: 'Inter';
}

.poppins {
  --font-family: 'Poppins';
}

.chakra-petch {
  --font-family: 'Chakra Petch';
}
