.plain {
  --bg-color: 238 238 238; /* background color */
  --font-color: 127 132 135; /* font color */
  --hl-color: 65 63 66; /* caret, wrong characters, timer, selected and onhover colors */
  --fg-color: 75 75 75; /* correctly typed characters */
}

.winter {
  --bg-color: 21 114 161;
  --font-color: 196 221 255;
  --hl-color: 184 255 249;
  --fg-color: 239 255 253;
}

.snowy-night {
  --bg-color: 44 51 51;
  --font-color: 57 91 100;
  --hl-color: 165 201 202;
  --fg-color: 231 246 242;
}

.vintage {
  --bg-color: 55 125 113;
  --font-color: 148 180 159;
  --hl-color: 247 236 222;
  --fg-color: 233 218 193;
}

.vampire {
  --bg-color: 28 28 28;
  --font-color: 76 76 76;
  --hl-color: 200 200 200;
  --fg-color: 179 48 48;
}

.bubblegum {
  --bg-color: 77 76 125;
  --font-color: 200 182 226;
  --hl-color: 233 213 218;
  --fg-color: 193 255 207;
}

.green-tea {
  --bg-color: 85 124 85;
  --font-color: 166 207 152;
  --hl-color: 242 255 233;
  --fg-color: 227 243 172;
}

.wood {
  --bg-color: 74 64 58;
  --font-color: 104 94 88;
  --hl-color: 208 201 192;
  --fg-color: 160 147 125;
}

.beach {
  --bg-color: 0 120 170;
  --font-color: 58 180 242;
  --hl-color: 246 246 246;
  --fg-color: 242 223 58;
}

.halloween {
  --bg-color: 27 26 23;
  --font-color: 74 69 76;
  --hl-color: 201 201 201;
  --fg-color: 245 136 64;
}

.botanical {
  --bg-color: 75 134 115;
  --font-color: 130 162 132;
  --hl-color: 201 235 168;
  --fg-color: 242 240 233;
}

.eye-pain {
  --bg-color: 34 0 255;
  --font-color: 163 255 0;
  --hl-color: 255 0 0;
  --fg-color: 255 0 231;
}

.inter {
  --font-family: 'Inter';
}

.poppins {
  --font-family: 'Poppins';
}

.chakra-petch {
  --font-family: 'Chakra Petch';
}
